.header {
    display: flex;
    gap: 20px;
    align-items: center;
}

.header_text {
    font-size: 25px;
    flex-grow: 0;
    color: white;
}

.logo {
    flex-grow: 1;
    width: 150px;
}

body {
    background-color: #1F2937;
}